@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media screen and (max-width: 800px) {
    header {
        position: static;
        text-align: center;
    }
    img {
        max-width: 100%;
    }
    .countdown-box {
        padding: 3px 0;
        white-space: normal;
        border-radius: 16px;
        margin-bottom: 5px;
    }
    .countdown-box .num {
        font-size: 24px;
    }
    #groom_bride_name {
        padding: 5px;
        max-width: 100%;
    }
    .wed-name {
        font-size: 32px;
    }
    .main-navbar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -70%;
        background: #f33c3c;
        width: 70%;
        text-align: center !important;
    }
    .main-navbar ul {
        display: block !important;
        margin: 0 !important;
    }
    .main-navbar ul li {
        border-bottom: 1px solid #fff;
    }
    .main-navbar ul li a {
        display
    }
    .location-content {
        position: static;
    }
    .envelope {
        width: 300px;
        height: 160px;
        margin-left: auto;
    }
    .envelope:before, .envelope:after {
        border-width: 80px 150px;
    }
}
