@font-face {
    font-family: 'vivaldiitalic';
    src: url('../fonts/vivaldii-webfont.woff2') format('woff2'),
         url('../fonts/vivaldii-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    color: #3d3d3d;
}
.bg-dark {
    background: #f33c3c!important;
}
.bannerBg>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

.carousel-inner .carousel-item > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    -webkit-animation: zoom 20s;
            animation: zoom 20s;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
header .logo {
    margin: 15px 0;
}
.main-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-navbar li a {
    padding: 28px 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}
.main-navbar li:hover a, .main-navbar li.active a {
    color: #fff205;
}
#groom_bride_name {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff205;
    white-space: nowrap;
    max-width: 90%;
    align-items: center;
    /* background: #fff; */
    padding: 15px 30px;
    /* -webkit-text-stroke: 1px #000; */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.countdown-box {
    border: 1px solid;
    padding: 50px 0;
    white-space: normal;
    border-radius: 16px;
}
.countdown-box .num {
    font-size: 48px;
}
.diognal-text {
    font-size: 36px;
    display: inline-block;
    transform: rotate(-45deg);
}
.ring_header {
    border-bottom: 1px solid #fff205;
}
.wed-name {
    font-family: 'vivaldiitalic';
    font-size: 72px;
    /* -webkit-text-stroke: 3px #f00; */
}

.home-section {
    padding: 60px 0;
    position: relative;
}
.home-section>.overlay {
    margin: -60px 0;
    padding: 60px 0;
    background: rgba(0, 0, 0, 0.5);
}
.section-title {
    text-align: center;
    background: url('../imgs/headline_hearth.svg') center center no-repeat;
    background-size: contain;
    font-size: 3.052em;
    padding-top: 20px;
    position: relative;
    font-weight: normal;
    font-style: oblique;
    margin-bottom: 100px;
}
.section-title::after {
    content: "";
    background: url('../imgs/seperator.png') no-repeat;
    width: 176px;
    height: 35px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.section-title span, h4 span {
    color: #f33c3c;
}

#about-section .wed_image {
    border-radius: 50%;
    width: 60%;
}

.place-section {
    background: #f33c3c url('../imgs/banner_bg.jpg') center center fixed;
    background-size: cover;
    color: #fff;
}
.place-section .section-title {
    background: none;
}
.place-address {
    /* border: double #fff205; */
    color: #fff205;
    border-width: 5px;
    padding: 50px 0;
    border-radius: 50px 5px;
    font-size: 1.5em;
}
.place-address h4 {
    font-size: 2em;
    text-transform: uppercase;
}

/* Timeline */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.timeline h2 {
    color: #f33c3c;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #f33c3c;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: #f33c3c;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #f33c3c;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #f33c3c;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12.5px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  border: 1px solid #f33c3c;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
.timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
}

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #f33c3c;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 17.5px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/* End Timeline */

#moment-section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#contact-section iframe {
    border: 0;
    margin: 0;
    width: 100%;
    height: 450px;
}
.location {
    position: relative;
}
.location-content {
    position: absolute;
    right: 50px;
    top: 50px;
    background: #fff;
    border-radius: 50px;
    bottom: 50px;
    padding: 65px 30px;
    z-index: 1;
}
.location-content h3 {
    color: #f33c3c;
}


/* RSVP / Footer */
footer {
    background:  url('../imgs/footer_bg.png') no-repeat, url('../imgs/footer_bg.png') right 0 no-repeat, #f9f9f9;
    background-size: contain, contain;
}
.radio-button {
    position: relative;
    line-height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.radio-button input[type=radio] {
    display: none;
    margin: 0;
    padding: 0;
}
.radio-button span {
    padding-left: 25px;
}
.radio-button span::before, .radio-button span::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    border-radius: 50%;
}
.radio-button span::after {
    display: none;
    background: #c94548;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
}
.radio-button input:checked+span::before {
    border-color: #c94548;
}
.radio-button input:checked+span::after {
    display: inline-block;
}
.envelope-outer {
    padding-top: 400px;
    overflow: hidden;
}
.envelope {
  position: relative;
  margin: 50px auto 0;
  width: 500px;
  height: 200px;
  background: #c94548;
  box-shadow: 0 0 1px #c94548 inset;
  /* overflow: hidden; */
}
.envelope:before,
.envelope:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 100px 250px;
}
.envelope:before {
  border-bottom-color: #c94548;
  top: -100%;
  left: 0px;
}
.envelope:after {
    border-right-color: #ed4c50;
    border-left-color: #fa565a;
    border-bottom-color: #fa565a;
    top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.paper {
  background: #fff;
  /* width: 87px; */
  right: 6px;
  height: 550px;
  margin: 0 auto;
  /* border-radius: 5px; */
  position: absolute;
  left: 6px;
  bottom: -300px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  padding: 15px;
  transition: all 2s ease;
}
.paper.out {
    bottom: 33px;
}
.paper-inner {
    border: 2px solid #fa565a;
    padding: 15px;
    height: 100%;
}
.paper .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}
.paper .form-control:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background: #f33c3c;
    border-color: #f33c3c;
    text-transform: uppercase;
}
.btn-primary:hover {
    background: #ad1919;
    border-color: #ad1919;
}
